/*
File: https://hssemakula.github.io/home_page/assignment6/css/custom_styles.css
  Hillary Ssemakula
  hillary_ssemakula@student.uml.edu
  Student in COMP 4610 GUI PROGRAMMING I at UMass Lowell
    Created on 11/29/2018 for assignment No. 9 of the course.
  This is a minimal stylesheet to design the footer for assignment9
*/
html {
  position: relative;
  /*This lets the html element fill up the height of the viewport */
  min-height: 100%;
}

body {
  /*This value colerates with the value of the footers height: it provides space for the footer */
  min-width: 706px;
  margin-bottom: 20px;
}



#footer {
  position: absolute;
  /* postion the footer absolutely to the bottom */
  bottom: 0;
  width: 100%;
  height: 20px;
}
