/*
File:/usr/cs/undergrad/2019/hssemaku/public_html/WEB-INF/css/styles.css

  Hillary Ssemakula
  hillary_ssemakula@student.uml.edu
  Student in COMP 4610 GUI PROGRAMMING I at UMass Lowell
  Created on 9/12/2018 for assignment No. 4 of the course.
  This a style script for the index page that provides links to all assignments
  that I undertake in this course.
*/
/* Most annoying error, when you only set height of element and not the width, it mulfunctions */
/*Percentages are used heavily here to allow the page to be responsive when resized. */
/* Set height and width of overall html element so that later when percentages
are used on elements, there are concrete dimensions to take percentages of
Set background image so background of webpage is not white.
Set background color as backup ince image fails.
*/
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-image: linear-gradient(to bottom, white, #D7DBDD);
  /*make backup color a gradient */
  background-image: url("../images/main_bg.jpg");
  background-size: cover;
  background-repeat: repeat;
}

/*This removes all default stylind for all links on the page */
a {
  text-decoration: none;
}

body {
  margin: 0px;
  /*Two fonts set inces one fails */
  font-family: verdana, arial;
  /* Always set parent dimensions to avoid malfunctions when you
                try to set sizes for child elements e.g divs */
  height: 100%;
  width: 100%;
  min-height: 100%;
  /*To prevent disorganization of page elements, minimum width
  stops page from shrinking further if user to tries to resize it more */
  min-width: 1086px;
}

header {
  height: 10%;
  width: 100%;
  /* auto left and right margins help to keep the whole header centered*/
  margin-left: auto;
  margin-left: auto;
  /*Since height is in terms of percentage a maximum height prevents the header
  from getting to big when the page is too big.*/
  max-height: 50px;
  background-color: #333;
  /*This prevents elements with in the header from showing up outside the header */
  overflow: hidden;
}

/*This block specifically styles all links in the header element */
header a {
  color: white;
  /*background-color: #73868d; */
  padding: 15px 5px 20px 5px;
  margin: 0px;
}

/*Make h1 in header float left and declare its size in ems so that it scales right on different devices. */
header h1 {
  float: left;
  font-size: 1.3em;
}

/*Make nav in header float right and declare its size in ems so that it scales right on different devices. */
header nav {
  float: right;
  font-size: 0.75em;
  font-weight: 200;
}

header nav ul {
  list-style-type: none;
  /*remove bullet points off of nav list elements */
  margin-top: 1.7em;
}

header nav li {
  padding: 10px 0px;
  display: inline;
  /* make nav elements display horizontally instead of vertically */
}

/*This block adds padding and styles to the links within the nav within the header*/
header nav a {
  padding: 30px 15px;
  /* sets padding for (top, bottom) and (right, left) */
  margin-left: 0px;
  background-color: #73868d;
}

/*For all links in the header change to color #B1BFCC when user hovers over them */
header a:hover {
  background-color: #B1BFCC;
}

/*This block styles the empty div to turn it into a banner image */
#flag_pic {
  height: 45%;
  /* This is the percentage of the body element that the pictures's height takes up */
  width: 100%;
  /*because div takes up 100% width, when image is set as background, it becomes a banner */
  background-image: url("../images/flag_pic.jpg");
  /*set image as banner */
  background-repeat: no-repeat;
  background-size: cover;
}

/*The main element is made 80% of the width of the body so that it doesnt over-stretch
the elements it contain, when viewed on a large screen
margin left and right auto center the main element.*/
main {
  /*percent height of the body element used */
  height: 50%;
  width: 80%;
  /*when the screen is too wide, the main element stops stretching */
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* main_wrapper is a div that contains all text content in the main element
  It is centered using margin auto and it is given height and width dimensions that
  take up almost the entire main element. */
#main_wrapper {
  width: 95%;
  height: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.275em;
}

/* Both the about and assignments divs are given with of 40%, i.e 40% of the
main_wrapper div The about is made to float left and the other to float right. */
#assignments {
  float: right;
  width: 40%;
  /*if content overflows, then make a scroll appear */
  overflow: auto;
}

#about {
  float: left;
  width: 40%;
  overflow: auto;
}

/*Both the about and assignments divs are defined under the same class:secs
All the sytles below apply to them.
*/
.secs a {
  color: #8b97a1;
}

.secs a:hover {
  color: #333;
}

.secs li {
  padding: .2em;
}

.secs {
  line-height: 1.5em;
  /* Since the html element already has a background picture, make both divs
  white so that they can appear as boxes. */
  background-color: white;
  /*Set both divs' height to 80% of main_wrapper div, to leave some space above
  and below with in main_wrapper, like padding */
  height: 80%;
  /* Add padding within the divs themselves */
  padding: 2.5em;
  margin-top: 1.5em;
  /*This code defines the shadows behind the divs. This makes the boxes appear more artistic */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*The footer is very annoying. It just wont stick to the bottom.
height is 8% of the body element's height.
clear is defined so that the footer is displayed below the floated divs: about
and assignments.

A negative margin-bottom is defined to stick the element to the bottom.
Furthermore an absolute position with top at 100% of the height of the body is
drfined to the same thing.

Sets the footer at after 100% of the height of the page. or atleat it should.

*/
footer {
  margin-top: 5.833em;
  margin-bottom: -100px;
  text-align: center;
  background-color: #333;
  color: white;
  width: 100%;
  height: 8%;
  min-height: 45px;
  min-width:556px;
  clear: both;
  position: absolute;
  top: 100%;
}

/*I'm required to give credit to the designer of the html element background
picture by showing their link on my page. However the test can be any size, so...*/
#credit {
  font-size: 3px;
  color: #BDC3C7;
  padding-left: 20px;
}

/*color all links in footer */
footer a {
  color: #B1BFCC;
}

/* Elements in the footer had a tendency to overflow from above the footer,
so I pushed them down with padding top and removed all of their margins */
footer * {
  margin: 0px;
  padding-top: 20px;

}

/*validation icon */
#validation {
  float: right;
  padding:0px;
  margin: 0px;
  margin-top: -1.7em;
}
