/*
File:/usr/cs/undergrad/2019/hssemaku/public_html/WEB-INF/css/styles.css

  Hillary Ssemakula
  hillary_ssemakula@student.uml.edu
  Student in COMP 4610 GUI PROGRAMMING I at UMass Lowell
  Created on 9/12/2018 for assignment No. 2 of the course.
  This a style script for the index page that provides links to all assignments
  that I will undertake in this course.
*/
html{
  font-family: Arial; /* make font Arial for all text under html element */
  text-align: center;/* center-align all text under html element */
}
a {text-decoration: none} /*remove default underline style for all links */
img{
  margin: 20px; /* make all margins around all image elements 20px */
  border-radius: 10px; /*makes image elements a rounded rectangle */

  /*pushes the the image element to the left of the page */
  float: left;
}

header{
  background-color: #ECF0F1; /* make header backgound gray */
  color: #4B5B5B; /* make header text darker gray */
  padding: 20px; /* add 20px padding all around header text */
  height: 100px; /* make header element height 100px */
}

/* set color for link text in anchor element under header element */
header a{ color:#4B5B5B;}

/* define style for anchor element within header element */
header a:hover {
  /* when user hovers over link:
      turn color of link text to lighter gray.
      make the text bigger
  */
  color: #B3B6B7;
  font-size: 33px;
}

/* define styles for all section elements */
section{
  text-align: left; /* left align text */
  padding: 20px; /* padding all round text */
  margin-left: 20px; /* move left marging of text by 20px */
  font-size: 20px; /* set font size */
}

/* define styles for paragraph elements under section elements */
section p{
  text-align: left; /* left align text */
 padding: 5px 20px; /* set padding, first number: top and bottom
                                    second number: left and right
                    */
}

/*define styles for unordered list element under section element */
section ul{
  list-style-position: inside; /* group bullet point with item */
  color: #B28D87; /* set color of item */
}
section ul a{color: #B28D87;} /* set color for link under section */
section ul li{padding-bottom: 10px;}
section ul a:hover{
  /* when user hovers over link under section:
            change color
            change text size
  */
  color: #DC7633;
  font-size: 22px;
}
